html,
body,
body > div {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { 
  margin-right: 3px;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #1a252f20;
  border-right: 1px solid #1a252f10;
  box-shadow: 1px 1px 10px 1px #1a252f10;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.absolute {
  background-color: whitesmoke;
  box-shadow: 1px 1px 19px 1px lightgray;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  /* margin: auto; */
  top: 35%;
  left: 40%;
  z-index: 10;
}

.absolute h2{
  text-align: center;
  font-weight: bold;
}
.absolute span{
  cursor: pointer;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  font-weight: bolder;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 6px;
  background-color: lightgrey;
  border-radius: 50px;
  transition: .5s;
}
.absolute span:hover{
  transform: scale(1.5);
  padding: 8px 10px;
}
.absolute input,
.absolute select,
.absolute button,
.absolute input {
  padding: 10px;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  outline: none;

}

.absolute button {
  background-color: royalblue;
  color: white;
  transition: .5s;
}

.absolute button:hover {
  cursor: pointer;
  transform: scale(1.04);
}